<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Web Terminal</title>
  <link rel="stylesheet" href="/public/CSS/darkextra.css">
  <link rel="stylesheet" href="/public/CSS/dark.css">
  <link rel="stylesheet" href="/public/CSS/win.css">



</head>

<body>
  <!-- <div class="hidden111"> -->
  <div id="content">
    <terminal-js></terminal-js>
  </div>
  <!-- </div> -->
  <script src="/public/JS/winbox.bundle.js"></script>
  <script src="/public/JS/app.js"></script>
  <script src="/public/JS/terminal.js"></script>


</body>